<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/cashier_styles.css" />
    <link
      rel="shortcut icon"
      href="../../static/img/favicon.png"
      type="image/x-icon"
    />
    <title>Pizza Order Form</title>
  </head>
  <body>
  <script>
    function refresher(){
      location.reload();
    }
  </script>
    <section class="form-section right_form">
      <h2>Pizza Order Form</h2>
      <form action="/send_data" method="post">
        <label for="pizza">Choose an item:</label>
        <select id="pizza" name="pizza" required>
          <option value="">Select</option>
          <option value="Margarita">Margherita</option>
          <option value="Tonno">Tonno</option>
          <option value="Funghi">Funghi</option>
          <option value="Diavola">Diavola</option>
          <option value="Coca-Cola">Coca cola</option>
          <option value="Water">Water</option>
          <option value="Juice">Apple juice</option>
          <option value="Sprite">Sprite</option>
        </select>
        <select name="size" required>
          <option value="">Size</option>
          <option value="small">small</option>
          <option value="medium">medium</option>
          <option value="large">large</option>
        </select>
        <label for="additional-info">Additional Information:</label>
        <textarea
          id="additional-info"
          name="additional_info"
          class="additional_info"
          rows="4"
          placeholder="e.g., extra cheese, no onions"
        ></textarea>
        <label for="toppings">Additional Toppings:</label>
        <select id="toppings" name="toppings">
          <option value="">Choose a topping</option>
          <option value="extra_cheese">Extra Cheese</option>
          <option value="mushrooms">Mushrooms</option>
          <option value="olives">Olives</option>
          <option value="green_peppers">Green Peppers</option>
          <option value="bacon">Bacon</option>
        </select>
        <div class="add_order">
          <button type="submit" onclick="refresher()">Add the order</button>
        </div>
      </form>
    </section>

    <section class="form-section">
      <div
        style="
          width: 100%;
          background-color: white;
          height: auto;
          margin-left: 0;
        "
      >
        <h2 style="text-align: left">Ordered</h2>
        <div class="displayed_orders" style="overflow-y: scroll; height: 535px">
          <div class="CartContainer">
            {% set prices = [] %}
            {% for rows in data %}
            {% if prices.append(rows[6]) %} {% endif %}
            <div class="Cart-Items">
              <div class="about">
                <h1 class="title" style="display: inline">{{ rows[2] }}</h1>
                <h3 class="subtitle" style="display: inline">
                  {{ rows[3] }}
                </h3>
                <p class="topping">{{ rows[4] }}</p>
              </div>
              <div class="counter"></div>
              <div class="prices">
                <div class="amount">{{ rows[6] }}</div>
                <form method="post">
                  <input type="hidden" name="item_delete_id" value="{{ rows[0] }}" />
                  <button
                    class="rem-button"
                    type="submit"
                    name="delete"
                    value="pressed"
                  >
                    <div class="remove" onclick="refresher()"><u>Remove</u></div>
                  </button>
                </form>
              </div>
            </div>
            {% endfor %}

            <!-- Checkout Section -->

            <!-- No items message -->
            <!-- Uncomment if needed
            <div style="display: flex; justify-items: center; text-align: center">
              <div>
                <p>No items in basket</p>
              </div>
            </div>
            -->
          </div>
        </div>
        <div class="checkout">
          <div class="total">
            <div>
              <div class="Subtotal">Final price</div>
              <div class="items"></div>
            </div>
            {% set num_array = prices | to_int_list %}
            <div class="total-amount">€{{ num_array | sum }}</div>
          </div>
        </div>
        <div class="submit_order_btn">
          <form action="/cashier_orders" method="post">
          <button class="submit_btn" type="submit">Submit the order</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
