<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitchen Orders</title>
    <link rel="stylesheet" href="../../static/css/orders.css" />
    <meta http-equiv="refresh" content="2" />
    <link
      rel="shortcut icon"
      href="../../static/img/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container">
      <h1>Kitchen Orders</h1>

      <div class="main-table-container">
        <table class="order-table">
          <thead>
            <tr>
              <th>Order Number</th>
              <th>Time</th>
              <th>Items</th>
              <th>Addition</th>
              <th>Toppings</th>
              <th>Start / Ready</th>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
            <tr >
              <td style="text-align: center; background-color: {{ row[6] }}">{{ row[1] }}</td>
              <td style="text-align: center; background-color: {{ row[6] }}">{{ row[5] }}</td>
              <td style="background-color: {{ row[6] }}">{{ row[2] }}</td>
              <td style="background-color: {{ row[6] }}">{{ row[3] }}</td>
              <td style="background-color: {{ row[6] }}">{{ row[4] }}</td>
              <td style="background-color: {{ row[6] }}">
                <form method="post">
                  <input type="hidden" name="itemid" value="{{ row[0] }}" />
                  <button type="submit" name="start" value="pressed">
                    Start
                  </button>
                  <input type="hidden" name="item_id" value="{{ row[0] }}" />
                  <button
                    type="submit"
                    name="ready"
                    value="pressed"
                    style="background-color: darkred"
                  >
                    Ready
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script src="../../static/javascript/orders.js"></script>
  </body>
</html>
