* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  background-color: #f1f1f1;
  /* background-image: url("../img/backkground.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.form-section {
  margin-left: 5%;
  font-size: 25px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 900px;
  text-align: left;
}

.form-section h2 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #555;
  display: block;
  margin-top: 20px;
  text-align: left;
}

select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 1em;
  color: #000;
  background-color: #fafafa;
  transition: border-color 0.3s;
}

select:focus,
textarea:focus {
  border-color: #0056b3;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 25px;
  background-color: #d81b24;
  background-color: #ff4742;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

button[type="submit"]:hover {
  background-color: #861b20;
  color: #ff4742;
  background-color: white;
  border-radius: 6px;
  border: 2px solid #ff4742;
}

button[type="submit"]:active {
  transform: scale(0.98);
}
.additional_info {
  height: 300px;
}
