body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

.order-table {
    flex: 1;
    border-collapse: collapse;
    margin: 10px auto;
    width: 90%;
    max-width: 1500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.order-table th, .order-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.order-table th {
    background-color: blue;
    color: white;
}

.order-table td {
    background-color: #f2f2f2;
}

.order-table th:first-child {
    border-top-left-radius: 10px;
}

.order-table th:last-child {
    border-top-right-radius: 10px;
}

.order-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.order-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
