@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9ecef;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 18px;
}

h1 {
  text-align: center;
  margin: 30px 0;
  color: #333;
  font-weight: 700;
}

.order-table {
  flex: 1;
  border-collapse: collapse;
  margin: 20px auto;
  width: 90%;
  max-width: 1500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.order-table th,
.order-table td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ccc;
  font-size: 16px;
}

.order-table th {
  background-color: #6c757d;
  color: white;
  text-align: center;
  font-weight: 700;
}

.order-table td {
  background-color: #ffffff;
}

.order-table th:first-child {
  border-top-left-radius: 10px;
}

.order-table th:last-child {
  border-top-right-radius: 10px;
}

.order-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.order-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.order-table {
  width: 100%;
  table-layout: fixed;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  width: 45%;
  background-color: darkgreen;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
  transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
  background-color: green;
  transform: scale(1.05);
}

button:nth-child(2) {
  background-color: darkred;
}

button:nth-child(2):hover {
  background-color: red;
}
w