@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Header at top, content below */
  align-items: center;
  background-color: #f1f1f1;
}

/* Header Section */

/* Header Section */
.header_container {
  /* max-width: 1200px; */
  width: 100%;
  display: flex;
  max-height: 100px;

  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 35px;
  gap: 142px;
  padding-top: 40px;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 35px;
  /* Increased font size for header links */
  /* font-weight: 600; */
}

.main_logo {
  height: 145px; /* Increased logo height */
}

/* Cart Section */
.CartContainer {
  width: 70%;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 30px;
  padding: 20px;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Heading {
  font-size: 20px;
  font-weight: 700;
  color: #2f3841;
}

.Action {
  font-size: 14px;
  font-weight: 600;
  color: #e44c4c;
  cursor: pointer;
  border-bottom: 1px solid #e44c4c;
}

.Cart-Items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}
.image-box {
  width: 15%;
  text-align: center;
}
.about {
  width: 24%;
}
.title {
  font-size: 22px;
  font-weight: 600;
  color: #202020;
}
.subtitle {
  font-size: 18px;
  color: #909090;
}

.counter {
  width: 15%;
  display: flex;
  align-items: center;
}
.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}
.count {
  font-size: 20px;
  font-weight: 600;
  color: #202020;
}

.prices {
  text-align: right;
}
.amount {
  font-size: 24px;
  font-weight: 600;
  color: #202020;
}
.save,
.remove {
  font-size: 14px;
  color: #1687d9;
  cursor: pointer;
  display: block;
  margin-top: 5px;
}
.remove {
  color: #e44c4c;
}

.checkout {
  text-align: right;
  padding-top: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Subtotal {
  font-size: 22px;
  font-weight: 700;
  color: #202020;
}
.items {
  font-size: 16px;
  color: #909090;
}
.total-amount {
  font-size: 32px;
  font-weight: 700;
  color: #202020;
}
.button {
  margin-top: 10px;
  background-color: #a3282e;
  width: 50%;
  height: 65px;
  border: none;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #202020;
  cursor: pointer;
  color: #fff;
}
