@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
    padding: 0px;
    margin: 0px;
    border: none;
  }
  
body {
    font-family: "Josefin Sans", sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}

.header_container {
    max-height: 100px;
    display: flex;
    font-size: 35px;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}   
section{
    margin-top: 5%;
}
.underheader{
    font-size: 23px;
    margin-left: 22%;
    margin-top: 1%;
}
.time_table{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-inline: 25%;
    margin-top: 50px;
    gap: 0px 40px; 
    justify-items: center;
    font-size: 20px;
}
.time_table p{
    padding-bottom: 30px;
}
hr {
    margin-top: 0.8%;
    border: 0;
    clear:both;
    display:block;
    width: 60%;
    background-color:black;
    height: 1.5px;
    margin-left: 20%;
}
