<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About us</title>
    <link
        rel="shortcut icon"
        href="../../static/img/favicon.png"
        type="image/x-icon"
    />
    <link rel="stylesheet" href="../../static/css/aboutus.css" />
</head>
  <body>
    <header>
      <div class="header_container">
          <div>
              <a href="{{ url_for('aboutus') }}">About Us</a>
          </div>
          <div>
              <a href="{{ url_for('menu') }}">Menu</a>
          </div>
          <div>
            <a href="{{ url_for('main') }}"><img src="../../static/img/front_logo.png" class="main_logo" alt="" /></a>
          </div>
          <div>
              <a href="{{ url_for('basket') }}">Basket</a>
          </div>
          <div>
              <a href="work_hours.html">Work hours</a>
          </div>
      </div>
    </header>

    <section>
      <div class="about-section">
        <h1>About Us</h1>
        <p>Welcome to Mario & Luigi's Pizzeria, where Italian tradition meets family warmth and culinary passion! Founded by two brothers with a shared dream and love for authentic Italian flavors, Mario and Luigi have been serving up slices of happiness since opening their doors. Every pizza at Mario & Luigi's is hand-tossed and topped with the freshest ingredients, from ripe tomatoes to creamy mozzarella, all imported from Italy whenever possible.</p>
      </div>

      <h2 class="our_team">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img
              src="../../static/img/mario.png"
              alt="Jane"
              style="width: 100%"
            />
            <div class="container">
              <h2>Mario</h2>
              <p class="description">
                I’ve been making pizza since I could reach the countertop,
                learning from my Nonna in our little Italian kitchen. Every dough
                I knead and every pizza I bake carries a piece of home with it.
                For me, pizza is family, tradition, and a little bit of magic.
              </p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img
              src="../../static/img/luigi.png"
              alt="Mike"
              style="width: 100%"
            />
            <div class="container">
              <h2>luigi</h2>
              <p class="description">
                I’m always experimenting, finding new flavors and combinations
                that make each pizza special. There’s nothing better than seeing
                people smile over a slice I created. For me, pizza is about
                sharing happiness, one bite at a time. Come taste the love and
                creativity in every slice!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
