<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>M&L Pizzeria</title>
    <link
      rel="shortcut icon"
      href="../../static/img/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../static/css/style.css" />
  </head>
  <body>
    <header>
      <div class="header_container">
        <div>
          <a href="aboutus">About Us</a>
        </div>
        <div>
          <a href="#">Menu</a>
        </div>
        <div>
          <img src="../../static/img/front_logo.png" class="main_logo" alt="" />
        </div>
        <div>
          <a href="#">Basket</a>
        </div>
        <div>
          <a href="#">Account</a>
        </div>
      </div>
    </header>
    <main>
      <div class="hero_section">
        <div>
          <img src="../../static/img/hero.png" alt="" />
        </div>
      </div>
      <div class="offer_section">
        <div>
          <img src="../../static/img/hero_1.png" class="hero_img" alt="" />
        </div>
        <div>
          <img src="../../static/img/hero_2.png" class="hero_img" alt="" />
        </div>
        <div>
          <img src="../../static/img/hero_3.png" class="hero_img" alt="" />
        </div>
      </div>
    </main>
  </body>
</html>
