<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Menu</title>
        <link
            rel="shortcut icon"
            href="../../static/img/favicon.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../../static/css/menu.css" />
    </head>
    <body>
        <header>
            <div class="header_container">
              <div>
                <a href="aboutus">About Us</a>
              </div>
              <div>
                <a href="#">Menu</a>
              </div>
              <div>
                <img src="../../static/img/front_logo.png" class="main_logo" alt="" />
              </div>
              <div>
                <a href="#">Basket</a>
              </div>
              <div>
                <a href="#">Account</a>
              </div>
            </div>
          </header>
          <section>
            <div  class="main_container">
                <p>Pizzas</p>
                <div class="pizza_menu">
                    <div class="pizza">
                        <div class="pizza_image">
                            <img src="../../static/img/margharita.png" width="300px" height="300px">
                        </div>
                        <div class="pizza_text">
                            <p>Margharita</p>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza_image">
                            <img src="../../static/img/tonno.png" width="300px" height="300px">
                        </div>
                        <div class="pizza_text">
                            <p>tonno</p>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza_image">
                            <img src="../../static/img/funghi.png" width="300px" height="300px">
                        </div>
                        <div class="pizza_text">
                            <p>Funghi</p>
                        </div>
                    </div>
                    <div class="pizza">
                        <div class="pizza_image">
                            <img src="../../static/img/diavola.png" width="300px" height="300px">
                        </div>
                        <div class="pizza_text">
                            <p>Diavola</p>
                        </div>
                    </div>
                </div>
            </div>
          </section>
    </body>
</html>