<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/overview.css" />
    <link
      rel="shortcut icon"
      href="../../static/img/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- Header Section -->
    <header>
      <div class="header_container">
        <div><a href="aboutus">About Us</a></div>
        <div><a href="menu">Menu</a></div>
        <div>
          <img
            src="../../static/img/front_logo.png"
            class="main_logo"
            alt="Logo"
          />
        </div>
        <div><a href="basket">Basket</a></div>
        <div><a href="#">Account</a></div>
      </div>
    </header>

    <!-- Main Cart Content -->
    <div class="CartContainer">
      <div class="Header">
        <h3 class="Heading">Shopping Cart</h3>
        <button class="rem-button">
          <h5 class="Action">Remove all</h5>
        </button>
      </div>

      <!-- Cart Item 1 -->
      <div class="Cart-Items">
        <div class="image-box">
          <img src="../../static/img/apple.png" style="height: 120px" />
        </div>
        <div class="about">
          <h1 class="title">Apple Juice</h1>
          <h3 class="subtitle">250ml</h3>
        </div>
        <div class="counter"></div>
        <div class="prices">
          <div class="amount">$2.99</div>
          <button class ="rem-button">
            <div class="remove"><u>Remove</u></div>
          </button>
        </div>
      </div>

      <!-- Cart Item 2 -->
      <div class="Cart-Items pad">
        <div class="image-box">
          <img src="../../static/img/grapes.png" style="height: 120px" />
        </div>
        <div class="about">
          <h1 class="title">Grapes Juice</h1>
          <h3 class="subtitle">250ml</h3>
        </div>
        <div class="counter"></div>
        <div class="prices">
          <div class="amount">$3.19</div>
          <button class ="rem-button">
            <div class="remove"><u>Remove</u></div>
            </button>
        </div>
      </div>

      <div class="checkout">
        <div class="total">
          <div>
            <div class="Subtotal">Sub-Total</div>
            <div class="items">2 items</div>
          </div>
          <div class="total-amount">$6.18</div>
        </div>
        <button class="button">Checkout</button>
      </div>
    </div>
  </body>
</html>
