<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Basket</title>
    <link rel="stylesheet" href="../../static/css/overview.css" />
    <link
      rel="shortcut icon"
      href="../../static/img/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- Header Section -->
    <header>
      <div class="header_container">
        <div><a href="{{ url_for('aboutus') }}">About Us</a></div>
        <div><a href="{{ url_for('menu') }}">Menu</a></div>
        <div>
          <a href="{{ url_for('main') }}"><img
            src="../../static/img/front_logo.png"
            class="main_logo"
            alt="Logo"
          /></a>
        </div>
        <div><a href="{{ url_for('basket') }}">Basket</a></div>
        <div><a href="{{ url_for('workinghours') }}">Work hour</a></div>
      </div>
    </header>

    <!-- Main Cart Content -->
    <div class="CartContainer">
      <div class="Header">
        <h3 class="Heading">Shopping Cart</h3>
        <form method="post">
          <button class="rem-button" name="delete_all" value="pressed">
            <h5 class="Action">Remove all</h5>
          </button>
        </form>
      </div>
      {% if data != [] %} {% set prices = [] %} {% for row in data %} {% if
      prices.append(row[5]) %} {% endif %}
      <div class="Cart-Items">
        <div class="image-box">
          <img src="../../static/img/{{ row[3] }}.png" style="height: 120px" />
        </div>
        <div class="about">
          <h1 class="title">{{ row[2] }}</h1>
          <h3 class="subtitle">{{ row[4] }}</h3>
        </div>
        <div class="counter"></div>
        <div class="prices">
          <div class="amount">€{{ row[5] }}</div>
          <form method="post">
            <input type="hidden" name="item_delete_id" value="{{ row[1] }}" />
            <button
              class="rem-button"
              type="submit"
              name="delete"
              value="pressed"
            >
              <div class="remove"><u>Remove</u></div>
            </button>
          </form>
        </div>
      </div>

      {% endfor %}

      <div class="checkout">
        <div class="total">
          <div>
            <div class="Subtotal">Sub-Total</div>
            <div class="items">{{ prices | length }} items</div>
          </div>
          {% set num_array = prices | to_int_list %}
          <div class="total-amount">€{{ num_array | sum }}</div>
        </div>
        <form action="/checkout_order" method="post">
          <div class="checkout_div">
            <p>Select pickup time:</p>
            <div class="radio-group">
              <input
                type="radio"
                id="ASAP"
                name="pickup_time"
                value="ASAP"
                required
              />
              <label for="ASAP">ASAP</label>
              <input type="radio" id="1hour" name="pickup_time" value="01:00:00" />
              <label for="1hour">1 hour</label>
              <input
                type="radio"
                id="15hour"
                name="pickup_time"
                value="01:30:00"
              />
              <label for="15hour">1.5 hour</label>
            </div>
          </div>

          <center>
            <button type="submit" class="button">Checkout</button>
          </center>
        </form>
      </div>
      {% else %}
      <div style="display: flex; justify-items: center; text-align: center">
        <div>
          <p>No items in basket</p>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>
