<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Work hours</title>
    <link
      rel="shortcut icon"
      href="../../static/img/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../static/css/work_hours.css" />
  </head>
  <body>
    <header>
      <div class="header_container">
        <div>
          <a href="/aboutus">About Us</a>
        </div>
        <div>
          <a href="/menu">Menu</a>
        </div>
        <div>
          <a href="/"
            ><img
              src="../../static/img/front_logo.png"
              class="main_logo"
              alt=""
          /></a>
        </div>
        <div>
          <a href="/basket">Basket</a>
        </div>
        <div>
          <a href="/workinghours">Work hours</a>
        </div>
      </div>
    </header>
    <section>
        <p class="underheader"><b>Working hours</b></p>
        <hr>
        <div class="time_table">
            <div class="table_days">
                <p>Monday</p>
                <p>Tuesday</p>
                <p>Thursday</p>
                <p>Wednesday</p>
                <p>Friday</p>
                <p>Saturday</p>
                <p>Sunday</p>
            </div>
            <div class="table_hours">
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
            </div>
        </div>
    </section>
  </body>
</html>