<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Work hours</title>
    <link
      rel="shortcut icon"
      href="../../static/img/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../static/css/work_hours.css" />
  </head>
  <body>
    <header>
      <div class="header_container">
        <div>
          <a href="{{ url_for('aboutus') }}">About Us</a>
        </div>
        <div>
          <a href="{{ url_for('menu') }}">Menu</a>
        </div>
        <div>
            <a href="{{ url_for('main') }}"><img src="../../static/img/front_logo.png" class="main_logo" alt="" /></a>
        </div>
        <div>
          <a href="{{ url_for('basket') }}">Basket</a>
        </div>
        <div>
          <a href="{{ url_for('workinghours') }}">Work hours</a>
        </div>
      </div>
    </header>
    <section>
        <p class="underheader"><b>Working hours</b></p>
        <hr>
        <div class="time_table">
            <div class="table_days">
                <p>Monday</p>
                <p>Tuesday</p>
                <p>Thursday</p>
                <p>Wednesday</p>
                <p>Friday</p>
                <p>Saturday</p>
                <p>Sunday</p>
            </div>
            <div class="table_hours">
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
                <p>8:00 am - 20:00 pm</p>
            </div>
        </div>
    </section>
    <footer>
      <div class="footer_container">
        <div>
          <p><b>About us</b></p>
          <a href="#">About us</a><br>
          <a href="#">Our history</a><br>
          <a href="#">Our values</a><br>
          <a href="#">Enviroment</a><br>
        </div>
        <div>
          <p><b>M&L pizza</b></p>
          <a href="#">Order online</a><br>
          <a href="#">Menu</a><br>
          <a href="#">Offers</a><br>
          <a href="#">News</a><br>
        </div>
        <div>
          <p><b>Social Media</b></p>
          <a href="#">Instagram</a><br>
          <a href="#">Tiktok</a><br>
          <a href="#">Twitter</a><br>
        </div>
        <div>
          <p><b>Customer service</b></p>
          <a href="#">FAQ</a><br>
          <a href="#">Contact</a><br>
          <a href="#">Locations</a><br>
        </div>
      </div>
    </footer>
  </body>
</html>